/* .App{
    min-height: 100vh;
    display: flex;
    background-image: url('./components/Images/background.jpg');
    background-size: cover;
    align-items: center;
    background-position: center;
} */